import(
    LowMACAAnnotation,
    methods,
    cgdsr,
    parallel,
    RColorBrewer,
    BiocParallel
)
importFrom(stringr, str_extract)
importFrom(reshape2, melt)
importFrom(data.table, rbindlist)
importFrom(motifStack , plotMotifLogo , pcm2pfm , colorset)
importFrom(Biostrings , consensusMatrix , readAAMultipleAlignment)
importFrom(Biostrings , AAMultipleAlignment, as.matrix)
importClassesFrom(Biostrings , AAMultipleAlignment)
importFrom("grDevices", "colorRampPalette", "dev.off", "png",
             "topo.colors")
  importFrom("graphics", "axis", "barplot", "layout", "legend", "lines",
             "par", "plot", "plot.new", "plot.window", "rect", "text")
  importFrom("stats", "AIC", "aggregate", "density", "lm", "median",
             "p.adjust", "pbinom", "pgamma", "qgamma", "sd")
  importFrom("utils", "capture.output", "data", "download.file", "head",
             "read.table", "write.table")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "alignSequences",
    "bpAll",
    "entropy",
    "getMutations",
    "mapMutations",
    "nullProfile",
    "parallelize",
    "parallelize<-",
    "lmAlignment",
    "lmEntropy",
    "lmMutations",
    "lmParams",
    "lmParams<-",
    "lmPlot",
    "protter",
    "setup",
    "show",
    "lfm",
    "lfmSingleSequence",
    "lmPlotSingleSequence"
)
export("allPfamAnalysis")
exportClasses(
    "LowMACA" 
)